<!DOCTYPE HTML>

<html>

<head>
    <title>CyberMap</title>
    <link rel="icon" href="../static/images/logo_r.png" sizes="32x32">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
        href="../static/assets/css/style.min.c6820b4246dfb1fd50de50da104b15fa21b578b488678df9f6f9911de5b6bfac.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/my.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />

    <style>
        /*表格颜色*/
        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: rgba(244, 236, 253, 0.5);
        }

        .button::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        .button {
            display: inline-block;
            *display: inline;
            zoom: 1;
            padding: 6px 20px;
            margin: 0;
            cursor: pointer;
            border: 1px solid #bbb;
            overflow: visible;
            font: bold 13px arial, helvetica, sans-serif;
            text-decoration: none;
            white-space: nowrap;
            color: #555;

            background-color: #ddd;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

            -webkit-transition: background-color .2s ease-out;
            -moz-transition: background-color .2s ease-out;
            -ms-transition: background-color .2s ease-out;
            -o-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
            background-clip: padding-box;
            /* Fix bleeding */
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
            box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .9);

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .button:hover {
            background-color: #eee;
            color: #555;
        }

        .button:active {
            background: #e9e9e9;
            position: relative;
            top: 1px;
            text-shadow: none;
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
        }

        .button[disabled],
        .button[disabled]:hover,
        .button[disabled]:active {
            border-color: #eaeaea;
            background: #fafafa;
            cursor: default;
            position: static;
            color: #999;
            /* Usually, !important should be avoided but here it's really needed :) */
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        /* Smaller buttons styles */

        .button.small {
            padding: 4px 12px;
        }
    </style>

</head>


<body style="overflow: auto">
    <!-- 模态框 -->
    <div hidden id="prompt" style="margin-top: 10%; text-align: center;">
        <img src="../static/images/loading.gif" style="width: 100px; height: 100px;">
        <div>
            <h3>正在加载，请稍等...</h3>
        </div>
    </div>

    <div id="content">
        <!-- Nav -->
        <nav_header id="nav_header" :nav_items="nav_items"></nav_header>

        <div id="map" style="margin-top: 2%; margin-left: 9%; width: 1050px;height: 450px"></div>
        <!-- Main -->
        <div class="container pt-2 pt-md-3 pb-3 pb-md-6">

            <div class="row">

                <div class="col-12 order-12 col-lg-9 col-xxl-10">

                    <div class="content">
                        <!-- Content -->
                        <div class="container" style="margin-top: 2%">

                            <table class="table table-striped table-responsive table-hover table-condensed"
                                style="word-break: break-word;width: atuo">

                                <div style="float: left; margin-left: 3%">
                                    <span style="float: left;line-height: 200%;font-size: 15px">区域&nbsp</span>
                                    <select class="form-control"
                                        style="width: 100px; appearance: auto; height: 30px; margin-bottom: 30px"
                                        id="area" onchange="changeCenter();listCountry();getPageNum()">
                                        <option value="All">All</option>
                                        <option value="Asia">亚洲</option>
                                        <option value="Europe">欧洲</option>
                                        <option value="America">美洲</option>
                                        <option value="Africa">非洲</option>
                                        <option value="Oceania">大洋洲</option>
                                    </select>
                                </div>
                                <div style="float: left; margin-left: 2%">
                                    <span style="float: left;line-height: 200%;font-size: 15px">国家/地区&nbsp</span>
                                    <select class="form-control"
                                        style="width: 100px; appearance: auto; height: 30px; margin-bottom: 30px"
                                        id="country" onchange="getPageNum()">
                                        <option value="All">All</option>
                                    </select>
                                </div>
                                <div style="float: left; margin-left: 2%">
                                    <span style="float: left;line-height: 200%;font-size: 15px">命令&nbsp</span>
                                    <select class="form-control"
                                        style="width: 100px; appearance: auto; height: 30px; margin-bottom: 30px"
                                        id="cmdValue" onchange="getPageNum()">
                                        <option value="ping">ping</option>
                                        <option value="traceroute">traceroute</option>
                                        <option value="bgp">bgp routes</option>
                                    </select>
                                </div>
                                <div style="float: left; margin-left: 2%">
                                    <span style="float: left;line-height: 200%;font-size: 15px">格式&nbsp</span>
                                    <select class="form-control"
                                        style="width: 80px; appearance: auto; height: 30px; margin-bottom: 30px"
                                        id="type">
                                        <option value="raw">raw</option>
                                        <option value="json">json</option>
                                    </select>
                                </div>
                                <div style="float: left; margin-left: 15%">
                                    <input type="text" class="form-control required" id='parameter' placeholder="参数"
                                        style='width: 200px;height: 30px;float: left' autofocus="autofocus">
                                    <button class='small button' onclick="query()"
                                        style='width: auto;height: 30px;float: left;margin-left: 10px'>查询</button>
                                </div>

                                <thead>
                                    <tr>
                                        <th style="width: 3%; text-align: left;"></th>
                                        <th style="width: 10%; text-align: center; font-family: 黑体; font-size: 16px">URL
                                        </th>
                                        <th style="width: 10%; text-align: center; font-family: 黑体; font-size: 16px">测量点
                                        </th>
                                        <th style="width: 5%; text-align: center; font-family: 黑体; font-size: 16px">AS
                                        </th>
                                        <th style="width: 6%; text-align: center; font-family: 黑体; font-size: 16px">
                                            国家/地区</th>
                                        <th style="width: 6%; text-align: center; font-family: 黑体; font-size: 16px">
                                            城市</th>
                                        <th style="width: 5%; text-align: center; font-family: 黑体; font-size: 16px">
                                            状态</th>
                                    </tr>
                                </thead>

                                <tbody id="info">
                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>

            </div>
            <div class="pull-right">
                <span style="font-size: 16px;vertical-align: -30%">
                    共<strong id="totalPage"></strong>页&nbsp&nbsp&nbsp
                </span>
                <ul class="pagination" id="pagination">

                </ul>
            </div>
        </div>

        <!-- Footer -->
        <footer class="d-print-none">
            <div class="sub-footer">

                <div class="sub-footer-inner" style="text-align: center; font-family: 'Times New Roman', Times, serif;font-weight: 800;">
                    Copyright ©2020-2025 Institute for Network Sciences
                    and Cyberspace All Rights Reserved.
                </div>
                <div class="sub-footer-inner" style="font-family: 'Times New Roman', Times, serif;font-weight: 800;">
                        总访问：
                        <span id="visitorNum"></span>
                </div>




        </footer>


    </div>

    <!-- Scripts -->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="../static/assets/js/browser.min.js "></script>
    <script src="../static/assets/js/breakpoints.min.js "></script>
    <script src="../static/assets/js/util.js "></script>
    <script src="../static/assets/js/main.js "></script>
    <script
        src="../static/assets/js/frontpage.min.1189bd79a1f4db78276ee2cd45c1cd9b3a14ef14963341d3ec0f96ecddf56478.js ">
        </script>
    <script src="../static/assets/js/global.min.bca3c47a1bcb7341823d522f2aaac338660e989b4ffe85fb6f643dbb86731feb.js ">
    </script>
    <script src="../static/assets/js/nav_header.js "></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>

    <script type="text/javascript">
        let pageNum;
        let map;
        let markers = [];

        window.onload = function () {
            initMap();
            getVisitorNum();
            getPageNum();
            listCountry();
        }

        if (window.name != "noReload") {
            window.name = "noReload";
            location.reload();
        } else {
            window.name = "";
        }

        function getVisitorNum() {
            $.ajax({
                url: "/visitor_num",
                type: "GET",
                success: function (result) {
                    $("#visitorNum").html(result);
                },
                error: function () {
                    alert("获取访问量失败");
                }
            });
        }

        function getPageNum() {
            let cmdValue = document.getElementById("cmdValue");
            cmdValue = cmdValue.options[cmdValue.selectedIndex].value;
            let area = document.getElementById("area");
            area = area.options[area.selectedIndex].value;
            let country = document.getElementById("country");
            country = country.options[country.selectedIndex].value;
            $.ajax({
                url: "/page_num",
                type: "POST",
                dataType: "json",
                data: {
                    data: JSON.stringify({
                        "cmdValue": cmdValue,
                        "area": area,
                        "country": country,
                    })
                },
                success: function (result) {
                    pageNum = result;
                    $("#totalPage").html(pageNum);
                    showPage(1);
                },
                error: function () {
                    alert("获取页数失败");
                }
            });
        }

        function showInfo(page) {
            let cmdValue = document.getElementById("cmdValue");
            cmdValue = cmdValue.options[cmdValue.selectedIndex].value;
            let area = document.getElementById("area");
            area = area.options[area.selectedIndex].value;
            let country = document.getElementById("country");
            country = country.options[country.selectedIndex].value;
            $.ajax({
                url: "/page",
                type: "POST",
                dataType: "json",
                data: {
                    data: JSON.stringify({
                        "cmdValue": cmdValue,
                        "area": area,
                        "country": country,
                        "page": page
                    })
                },
                success: function (result) {
                    if (markers.length > 0) { //清除之前的标记点
                        for (let i in markers) markers[i].remove();
                        markers = [];
                    }
                    let msg = "";
                    for (let index in result) {
                        let record = result[index];
                        msg += "<tr>";
                        msg += "<td style='text-align: center;height: 50px;vertical-align: middle'><input type='checkbox' ";
                        msg += "value='" + record['URL'] + "|" + record['routerValue'] + "' ";
                        msg += "style='-webkit-appearance: button' name='routers'></td>";
                        let IP = record['URL'].split("http://");
                        if (IP.length == 1) {
                            IP = record['URL'].split("https://");
                        }
                        IP = IP[1];
                        msg += "<td style='text-align: center;vertical-align: middle'>" + "<a href='" + record['URL'] + "'>" + IP +
                            "</a></td>";
                        msg += "<td style='text-align: center;vertical-align: middle'>" + record['routerValue'] + "</td>";
                        msg += "<td style='text-align: center;vertical-align: middle'>" + record['AS'] + "</td>";
                        msg += "<td style='text-align: center;vertical-align: middle'>" + record['country'] + "</td>";
                        msg += "<td style='text-align: center;vertical-align: middle'>" + record['city'] + "</td>";
                        msg +=
                            "<td style='text-align: center;vertical-align: middle'><img src='static/images/tick.png' width='50px' alt='√'></td>";
                        msg += "</tr>";
                        if (record['longitude'] != null) {
                            let marker = new mapboxgl.Marker().setLngLat([record['longitude'], record['latitude']]).addTo(map);
                            markers.push(marker);
                        }
                    }
                    $("#info").html(msg);
                },
                error: function () {
                    alert("获取搜索数据失败");
                }
            });
        }

        function query(key) {
            let routers = document.getElementsByName("routers");
            keys = [];
            checkedNum = 0;
            for (let index in routers) {
                if (routers[index].checked) {
                    ++checkedNum;
                    if (checkedNum == 6) {
                        alert("请勿选择超过5个测量点");
                        return;
                    }
                    keys.push(routers[index].value);
                }
            }
            let cmdValue = document.getElementById("cmdValue");
            cmdValue = cmdValue.options[cmdValue.selectedIndex].value;
            let parameter = document.getElementById("parameter").value;
            if (parameter == "") {
                alert("请输入参数");
                return;
            }
            let type = document.getElementById("type").value;
            $.ajax({
                type: "POST",
                url: "/api/query",
                data: {
                    data: JSON.stringify({
                        "keys": keys,
                        "cmdValue": cmdValue,
                        "parameter": parameter,
                        "type": type,
                        "showHtml": "True",
                    })
                },
                dataType: "json",
                beforeSend: function () {
                    document.getElementById("prompt").hidden = false;
                    document.getElementById("content").hidden = true;
                },
                success: function (response) {
                    if (response['Info'] != null) {
                        alert(response['Info']);
                        window.location.href = "/";
                    }
                    else window.location.href = response;
                },
                error: function () {
                    alert("查询失败");
                    window.location.href = "/";
                }
            });
        }

        function showPage(page) {
            let htmlText = "<li onclick='showPage(1)'><a href=\"#\"> << </a></li>";
            let prePage = Math.max(page - 1, 1);
            htmlText += "<li onclick='showPage(" + prePage + ")'><a href=\"#\"> < </a></li>";
            if (pageNum < 5) {
                for (let i = 1; i <= pageNum; ++i) {
                    htmlText += "<li onclick='showPage(" + i + ")' ";
                    if (i == page) htmlText += "class='active'";
                    htmlText += "><a href=\"#\">" + i + "</a></li>";
                }
            } else {
                let leftNum = page - 1;
                if (leftNum < 2) {
                    for (let i = 1; i <= 5; ++i) {
                        htmlText += "<li onclick='showPage(" + i + ")' ";
                        if (i == page) htmlText += "class='active'";
                        htmlText += "><a href=\"#\">" + i + "</a></li>";
                    }
                }
                let rightNum = pageNum - page;
                if (rightNum < 2) {
                    for (let i = pageNum - 4; i <= pageNum; ++i) {
                        htmlText += "<li onclick='showPage(" + i + ")' ";
                        if (i == page) htmlText += "class='active'";
                        htmlText += "><a href=\"#\">" + i + "</a></li>";
                    }
                }
                if (leftNum > 1 && rightNum > 1) {
                    for (let i = page - 2; i <= page + 2; ++i) {
                        htmlText += "<li onclick='showPage(" + i + ")' ";
                        if (i == page) htmlText += "class='active'";
                        htmlText += "><a href=\"#\">" + i + "</a></li>";
                    }
                }
            }
            let nextPage = Math.min(page + 1, pageNum);
            htmlText += "<li onclick='showPage(" + nextPage + ")'><a href=\"#\"> > </a></li>";
            htmlText += "<li onclick='showPage(" + pageNum + ")'><a href=\"#\"> >> </a></li>";
            $("#pagination").html(htmlText);
            showInfo(page);
        }

        function listCountry() {
            let area = document.getElementById("area");
            area = area.options[area.selectedIndex].value;
            $.ajax({
                url: "/country",
                type: "GET",
                data: { 'area': area },
                dataType: "json",
                success: function (countryList) {
                    let countryOption = document.getElementById("country");
                    countryOption.options.length = 1;
                    for (let i in countryList) {
                        let country = countryList[i];
                        let option = document.createElement("option");
                        option.value = country;
                        option.text = country;
                        countryOption.options.add(option);
                    }
                },
                error: function () {
                    alert("国家数据加载出错！");
                }
            });
        }

        function initMap() {
            mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXNld2Fybm5lciIsImEiOiJja3NwbjF6bjUwNGJtMm5rdHdlbjhyYm05In0.6bXLpBBZJCFXeYMX6pjL9w';
            map = new mapboxgl.Map({
                container: "map",
                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                center: [10, 15], // starting position [lng, lat]
                zoom: 0.95 // starting zoom
            });
        }

        function changeCenter() {
            let areaName = ["All", "Asia", "Europe", "America", "Africa", "Oceania"];
            let areaCenter = [
                [10, 15, 0.95],
                [120, 35, 1.7],
                [25, 50, 2.9],
                [-85, 20, 2],
                [20, 0, 2.3],
                [140, -25, 2.7]
            ];
            let area = document.getElementById("area");
            area = area.options[area.selectedIndex].value;
            area = areaName.indexOf(area);
            map.setCenter([areaCenter[area][0], areaCenter[area][1]]);
            map.setZoom(areaCenter[area][2]);
        }
    </script>

</body>

</html>