@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lora:400,700|Roboto+Mono:300,400";

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(33, 37, 41, 0)
}

footer,
header,
nav {
    display: block
}

body {
    margin: 0;
    font-family: roboto, Arial, sans-serif, -apple-system;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h3 {
    margin-top: 0;
    margin-bottom: .5rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

strong {
    font-weight: bolder
}

a {
    color: #3f5481;
    text-decoration: none;
    background-color: initial
}

a:hover {
    color: #6e86b8;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

img {
    vertical-align: baseline;
    border-style: none
}

table {
    border-collapse: collapse
}

th {
    text-align: inherit
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

input,
button,
select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

select {
    word-wrap: normal
}

button {
    -webkit-appearance: button
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

[hidden] {
    display: none !important
}

@media print {
    .d-print-none {
        display: none !important
    }
}

@supports(position:sticky) {}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0
}

.pt-2 {
    padding-top: 20px !important
}

.pb-3 {
    padding-bottom: 30px !important
}

@media(min-width:768px) {
    .pt-md-3 {
        padding-top: 30px !important
    }

    .pb-md-6 {
        padding-bottom: 60px !important
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width:576px) {
    .container {
        max-width: 958px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 959px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1380px
    }
}

@media(min-width:1920px) {
    .container {
        max-width: 1560px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-xxl-10,
.col-lg-9,
.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.order-12 {
    order: 12
}

@media(min-width:992px) {
    .col-lg-9 {
        flex: 0 0 70%;
        max-width: 70%
    }
}

@media(min-width:1400px) {
    .col-xxl-10 {
        flex: 0 0 81.33333333%;
        max-width: 81.33333333%
    }
}

.table,
.content table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529
}

.table th,
.content table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table thead th,
.content table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 15rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(33, 37, 41, .15);
    border-radius: .25rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: initial;
    border: 0
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3f5481
}

.dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: initial
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.header {
    color: #3f5481;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.sub-footer {
    background: #f4f5fb;
    padding-top: 20px;
    padding-bottom: 20px
}

@media(min-width:768px) {
    .sub-footer {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.sub-footer .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media(min-width:768px) {
    .sub-footer .sub-footer-inner {
        flex-direction: row
    }
}

.logo {
    display: none
}

@media(min-width:576px) {
    .logo {
        display: block;
        width: 70px
    }
}

.logo img {
    width: 100%;
    height: auto
}

.logo a {
    display: block;
    width: 100%;
    height: 100%
}

.main-menu {
    display: none
}

@media(min-width:768px) {
    .main-menu {
        display: block
    }
}

.button {
    white-space: nowrap;
    display: inline-block;
    padding: 8px 15px 6px;
    background: #3f5481;
    font-weight: 400;
    text-transform: uppercase;
    color: #d5dcea;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    border-radius: 3px
}

.button:hover {
    color: #fff;
    background-color: #506aa3;
    text-decoration: none
}

.content {
    -webkit-font-smoothing: antialiased
}

@media(max-width:575.98px) {

    .row:not(.no-gutters),
    .row:not(.no-gutters)>[class*=col-] {
        margin-right: -2.5px;
        margin-left: -2.5px
    }

    .row:not(.no-gutters)>[class*=col-] {
        padding-right: 2.5px;
        padding-left: 2.5px
    }
}

html {
    scroll-behavior: smooth
}

body {
    font-family: roboto, Arial, sans-serif, -apple-system;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #212529
}

a {
    overflow-wrap: anywhere
}

nav .dropdown-submenu {
    position: relative
}

nav .dropdown-submenu a:hover+.dropdown-menu {
    display: block
}

nav .dropdown-submenu .dropdown-menu:hover {
    display: block
}

nav .dropdown-submenu>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg)
}

nav .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -.5rem
}

nav .dropdown-menu {
    z-index: 1030
}

nav .dropdown-toggle:after {
    display: none
}

nav .dropdown-submenu .dropdown-toggle:after {
    display: inline-block
}

.content {
    clear: both
}

.btn-info.active:not(:disabled):not(.disabled),
.btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #3f5481;
    border-color: #3f5481
}

@media(max-width:767.98px) {

    .btn-info.active:not(:disabled):not(.disabled),
    .btn-info:not(:disabled):not(.disabled):active {
        min-width: 4rem
    }
}

.minw {
    min-width: unset
}

@media(min-width:992px) {
    .minw {
        min-width: 5rem
    }
}

@media(min-width:1400px) {
    .minw {
        min-width: 8rem
    }
}

@media(max-width:991.98px) {
    header .header .container {
        max-width: unset
    }
}

header .header {
    box-shadow: 0 2px 7px #333;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: cover
}

.logo {
    align-items: center;
    width: 6rem;
    height: auto;
    position: relative;
    z-index: 2;
    margin-top: 0rem
}

h3 {
    color: #324267
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    footer .sub-footer {
        display: none
    }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.pull-right {
    float: right
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

/*
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html,
body,
div,
span,
h3,
a,
img,
strong,
ul,
table,
tbody,
thead,
tr,
th,
footer,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}

footer,
header,
nav {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}


/* Basic */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #f2f5f3;
}

body,
input,
select {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6b7770;
    font-size: 13pt;
    line-height: 2em;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
    color: #6b7770;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h3 {
    font-size: 1.25em;
}

a {
    color: #006376;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: 700;
    color: #6b7770;
}

ul,
table {
    margin-bottom: 3em;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 64em;
}

@media screen and (max-width: 1680px) {
    .container {
        width: 75em;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 980px) {
    .container {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: calc(100% - 30px);
    }
}


/* Row */

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row>* {
    box-sizing: border-box;
}

.row {
    margin-top: -50px;
    margin-left: -50px;
}

.row>* {
    padding: 50px 0 0 50px;
}

@media screen and (max-width: 1680px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row>* {
        box-sizing: border-box;
    }

    .row {
        margin-top: -50px;
        margin-left: -50px;
    }

    .row>* {
        padding: 50px 0 0 50px;
    }
}

@media screen and (max-width: 1280px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row>* {
        box-sizing: border-box;
    }

    .row {
        margin-top: -40px;
        margin-left: -40px;
    }

    .row>* {
        padding: 40px 0 0 40px;
    }
}

@media screen and (max-width: 980px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row>* {
        box-sizing: border-box;
    }

    .row {
        margin-top: -50px;
        margin-left: -50px;
    }

    .row>* {
        padding: 50px 0 0 50px;
    }
}

@media screen and (max-width: 736px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row>* {
        box-sizing: border-box;
    }

    .row {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row>* {
        padding: 20px 0 0 20px;
    }
}

@media screen and (max-width: 360px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row>* {
        box-sizing: border-box;
    }

    .row {
        margin-top: -15px;
        margin-left: -15px;
    }

    .row>* {
        padding: 15px 0 0 15px;
    }
}

/* Button */

button,
.button {
    -webkit-appearance: none;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #b1ddab;
    color: #fff;
    border: 0;
    line-height: 1em;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    font-size: 1.25em;
    padding: 0.85em 1.85em;
    text-align: center;
}

button:hover,
.button:hover {
    background: #c1edbb;
}

button:active,
.button:active {
    background: #a1cd9b;
}


/* List */

ul {
    list-style: disc;
    padding-left: 1em;
}

/* Tables */

table {
    width: 100%;
}

/* Nav */

body {
    padding-top: 3.25em;
}


/* XLarge */

@media screen and (max-width: 1680px) {

    /* Basic */
    body,
    input,
    select {
        font-size: 12pt;
        line-height: 1.75em;
    }
}


/* Large */

@media screen and (max-width: 1280px) {

    /* Basic */
    body,
    input,
    select {
        font-size: 11pt;
    }
}


/* Medium */

@media screen and (max-width: 980px) {

    /* Basic */
    html,
    body {
        overflow-x: hidden;
    }

    /* Nav */
    body {
        padding-top: 44px;
    }
}


/* Small */

@media screen and (max-width: 736px) {

    /* Basic */
    body,
    input,
    select {
        font-size: 11pt;
    }

    /* Button */
    button,
    .button {
        display: block;
        width: 100%;
    }

}


/* Small */

@media screen and (max-width: 360px) {

    /* Basic */
    body,
    input,
    select {
        font-size: 10pt;
    }
}

/*表格颜色*/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(244, 236, 253, 0.5);
}